torch<2
transformers==4.28.0
numpy==1.22.3
pytorch-lightning==1.6.5
datasets
tree-sitter==0.21.3
timeout-decorator
editdistance
bitsandbytes
accelerate
scikit-learn
rank-bm25
fuzzywuzzy
nltk
sacrebleu
sentencepiece
tensorboard
deepspeed==0.6.7
gputil
jsonlines
codebleu==0.6.1
code_tokenize
